.activity-item-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
}
.activity-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
}
.activity-icon {
  margin: 1rem;
}
.activity-details {
  flex-grow: 1;
}
.activity-title {
  color: #e0e0e0;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.activity-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.activity-data-currency {
  transform: scale(0.75);
}
.activity-data-amount {
  margin-bottom: 0.25rem;
  color: #e0e0e0;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.activity-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ab640e;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
  margin-left: auto; 
}
.activity-type-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.activity-type-data span {
  color: #fff;
  font-family: "ZonaPro";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.act-type-lent{
  color: #619C12;
}
.act-type-none{
  color: #5D5D5D;
}
.activity-settled{
  margin-top: -.5rem;
  flex-grow: 1;
  align-items: center;
  display: flex;
  gap: .5rem;
  color: #fff;
}
.settled-payer{
  color: #619C12;
}
.settled-amount{
  display: flex;
  gap: .5rem;
  align-items: center;
}