.make {
  margin-top: 1rem;
}
.make-container {
  margin-top: .5rem;
  height: 45vh;
  overflow-y: scroll;
}
.make-data {
  margin-top: .5rem;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.make-profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
}
.profile-one img {
  height: 110px;
  width: 110px;
  margin-bottom: .5rem;
}
.make-detail {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.profile-one,
.profile-two {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 40%; */
}
.make-profile-name{
  width: 100%;
  text-align: center;
}
.make-amount-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  /* gap: 2.5rem; */
}
.make-amount {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  gap: 1rem;
}
.make-amount-currency {
  cursor: pointer;
}
.make-amount-number {
  /* margin-top: 1rem; */
  width: 70%;
  appearance: none;
  -moz-appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3rem; */
}
.make-amount-number input[type="text"] {
  background-color: #0c0f17;
  border-bottom: 1px solid #98d448;
  text-align: center;
  padding: 0.5rem;
}
#amount::placeholder{
  font-size: .65rem;
}
#amount{
  width: 50%;
}
.make-note input[type="text"] {

  background-color: #0c0f17;
  border-bottom: 1px solid #98d448;
  text-align: center;
  padding: 0.5rem;
}
.make-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.make-button {
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #8a2a9b;
  box-shadow: 0px 2px 4px 0px rgba(217, 217, 217, 0.25);
  color: #e0e0e0;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}
.make-error{
  margin-top: 1rem;
  color: #EA6565;
  text-align: center;
  font-size: 1rem;
}
.make-split{
  padding: 0 2rem;
  margin-top: 1rem;
}
.make-record{
  display: flex;
  width: 20%;
}
.make-split-amount input[type="text"]{
  background-color: #0c0f17;
  border-bottom: 1px solid #98d448;
  text-align: center;
  padding: 0.5rem;
  margin-left: .5rem;
}
.make-split-container{
  margin-bottom: 2rem;
}
.make-split-header{
  display: flex;
  justify-content: space-between;
}
.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -13px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #898989; 
  border-radius: 4px; 
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #8A2A9B; /* Checked background color */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.make {
  margin-top: 1rem;
  /* Other styles for .make */
}



