@font-face {
  font-family: "ZonaPro Bold";
  src: url('../public/fonts/ZonaPro-Bold.otf');
}
@font-face {
  font-family: "ZonaPro";
  src: url('../public/fonts/ZonaPro-Thin.otf');
}
@font-face {
  font-family: "Satoshi";
  src: url('../public/fonts/Satoshi-Regular.otf');
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
body{
  background: #0C0F17;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  
}
#root{
  height: 100%;
  width: 100%;
}